<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>百度</string>
		<key>icon</key>
		<string>publish-audio</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯</string>
		<key>icon</key>
		<string>publish-offline</string>
		<key>url</key>
		<string>http://www.qq.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网易</string>
		<key>icon</key>
		<string>publish-picture</string>
		<key>url</key>
		<string>http://www.163.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>虎牙</string>
		<key>icon</key>
		<string>publish-review</string>
		<key>url</key>
		<string>http://www.huya.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3G网</string>
		<key>icon</key>
		<string>publish-text</string>
		<key>url</key>
		<string>http://xuan.3g.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>京东</string>
		<key>icon</key>
		<string>publish-video</string>
		<key>url</key>
		<string>http://www.jd.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>固生堂</string>
		<key>icon</key>
		<string>publish-gst</string>
		<key>url</key>
		<string>http://m.gstzy.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZEALER</string>
		<key>icon</key>
		<string>publish-zealer</string>
		<key>url</key>
		<string>http://www.zealer.com/</string>
	</dict>
</array>
</plist>
